# Visual Studio
/.vs
/venv
# PyCharm
/.idea
# Visual Studio Code
/.vscode
/physicsLab_projects

build/
dist/
__pycache__/
*.egg-info/

*.txt
*.code-workspace
*.json
*.mid
*.coverage
*.lnk
*.png
*.obj
*.pdb
*.cfg
*.pyc
*.pyd

# special file of physicsLab
*.mido.py
*.plm.py
*.test.py