__pycache__/
/venv/
/.idea/
*.txt
myTest.py
pyproject.toml
bad apple.py
/physicsLab.egg-info/
/build/
/dist/
/physicsLab_projects/
/.vscode/
/.vs/
*.code-workspace
*.json
*.mid
/wiki/
*.coverage
*.lnk
test2.py
*.png
