__pycache__/
/venv
/.idea
pyproject.toml
/physicsLab.egg-info
build/
dist/
/physicsLab_projects
/.vscode
*.txt
*.code-workspace
*.json
*.mid
*.coverage
*.lnk
*.png
*.obj
*.pdb
*.cfg
*.plm.py
# my python test file
*.test.py
